In [71]:
import sqlalchemy

In [72]:
from sqlalchemy import *
metadata = MetaData()

In [73]:
from sqlalchemy import create_engine
engine =  sqlalchemy.create_engine('sqlite:///mydb3.db',echo=True)
#insert.bind  = engine

In [4]:
artist = Table("Artist", metadata, 
               Column("id", Integer, primary_key=True),
               Column("name", String, nullable=False),
               extend_existing=True)
album = Table("Album", metadata, 
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("artist_id", Integer, ForeignKey("Artist.id")),
              extend_existing=True)
genre = Table("Genre", metadata, 
              Column("id", Integer, primary_key=True),
              Column("name", String, nullable=False),
              extend_existing=True)

track = Table("Track", metadata,
              Column("id", Integer, primary_key=True),
              Column("title", String, nullable=False),
              Column("length", Integer, nullable=False),
              Column("rating", Integer, nullable=False),
              Column("count", Integer, nullable=False),
              Column("album_id", Integer, ForeignKey("Album.id")),
              Column("genre_id", Integer, ForeignKey("Genre.id")),
              extend_existing=True)

metadata.create_all(engine)

2018-07-10 15:58:53,865 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-10 15:58:53,867 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,869 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-10 15:58:53,870 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,872 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-10 15:58:53,873 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,874 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-10 15:58:53,875 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,876 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-10 15:58:53,877 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,878 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-10 15:58:53,879 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,880 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:58:53,881 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,886 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:53,887 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-07-10 15:58:53,888 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,893 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:53,894 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2018-07-10 15:58:53,894 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,899 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:53,900 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2018-07-10 15:58:53,901 INFO sqlalchemy.engine.base.Engine ()
2018-07-10 15:58:53,906 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:

conn = engine.connect()
tables = metadata.tables
for table in tables:
    print(table)
    
for table in engine.table_names():
    print(table)
    
#insert

conn.execute(artist.insert(),[
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
    
])
conn.execute(album.insert(),[
    {"title":"IV","artist_id":1},
    {"title":"Who Made Who","artist_id":2}
    
])
conn.execute(genre.insert(),[
    {"name":"Rock"},
    {"name":"Metal"}
])

conn.execute(track.insert(),[
    {"title":"Black Dog","rating":5,"length":297,"count":0,"album_id:":1,"genre_id":1},
    {"title":"StairWay to Heaven","rating":5,"length":482,"count":0,"album_id:":1,"genre_id":1},
    {"title":"About to rock","rating":5,"length":313,"count":0,"album_id:":2,"genre_id":2},
    {"title":"Who Made Who","rating":5,"length":297,"count":0,"album_id:":2,"genre_id":2},
    
])

Artist
Album
Genre
Track
2018-07-10 15:58:56,095 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-10 15:58:56,096 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
2018-07-10 15:58:56,099 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2018-07-10 15:58:56,100 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2018-07-10 15:58:56,102 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:56,107 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2018-07-10 15:58:56,107 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2018-07-10 15:58:56,109 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:56,114 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2018-07-10 15:58:56,114 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2018-07-10 15:58:56,116 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 15:58:56,120 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, genre_id) VALUES (?, ?, ?, ?, ?)
2018-07-10 15:58:56,121 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1), ('StairWay to Heaven', 482, 5, 0, 1), ('About to rock', 313, 5, 0, 2), ('Who Made Who', 297, 5, 0, 2))
2018-07-10 15:58:56,122 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
for row in metadata.tables:
    print(row)

Artist
Album
Genre
Track

In [7]:
artistResult = conn.execute(artist.select())
print("type: " ,type(artistResult)) #커서
for row in artistResult:
    print(row)

albumResult = conn.execute(album.select())
for row in albumResult:
    print(row)
    
genreResult = conn.execute(genre.select())
for row in genreResult:
    print(row)
    
trackResult = conn.execute(track.select())
for row in trackResult:
    print(row)

2018-07-10 15:59:04,511 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id, "Artist".name
FROM "Artist"
2018-07-10 15:59:04,512 INFO sqlalchemy.engine.base.Engine ()
type:  <class 'sqlalchemy.engine.result.ResultProxy'>
(1, 'Led Zepplin')
(2, 'AC/DC')
2018-07-10 15:59:04,515 INFO sqlalchemy.engine.base.Engine SELECT "Album".id, "Album".title, "Album".artist_id
FROM "Album"
2018-07-10 15:59:04,515 INFO sqlalchemy.engine.base.Engine ()
(1, 'IV', 1)
(2, 'Who Made Who', 2)
2018-07-10 15:59:04,518 INFO sqlalchemy.engine.base.Engine SELECT "Genre".id, "Genre".name
FROM "Genre"
2018-07-10 15:59:04,518 INFO sqlalchemy.engine.base.Engine ()
(1, 'Rock')
(2, 'Metal')
2018-07-10 15:59:04,520 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 15:59:04,521 INFO sqlalchemy.engine.base.Engine ()
(1, 'Black Dog', 297, 5, 0, None, 1)
(2, 'StairWay to Heaven', 482, 5, 0, None, 1)
(3, 'About to rock', 313, 5, 0, None, 2)
(4, 'Who Made Who', 297, 5, 0, None, 2)

In [25]:
#크로스 조인 ,해당되는것을 가져오니까 이너조인
trackResult = conn.execute(select([track]).where(and_(track.c.album_id == 1 ,or_(track.c.genre_id==1, track.c.genre_id==2))))

2018-07-10 16:08:26,723 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2018-07-10 16:08:26,724 INFO sqlalchemy.engine.base.Engine (1, 1, 2)

In [31]:
result = conn.execute(select([track]))

2018-07-10 16:13:12,602 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 16:13:12,603 INFO sqlalchemy.engine.base.Engine ()

In [32]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 2, 1)
(2, 'StairWay to Heaven', 482, 5, 0, 2, 1)
(3, 'About to rock', 313, 5, 0, 1, 2)
(4, 'Who Made Who', 297, 5, 0, 1, 2)

In [29]:
result = conn.execute(select([track]))

2018-07-10 16:12:58,737 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
2018-07-10 16:12:58,738 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
from sqlalchemy import update

In [59]:
conn.execute(track.update().values(album_id=1).where(track.c.id<3))
conn.execute(track.update().values(album_id=2).where(track.c.id>2))

2018-07-10 16:23:50,373 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET album_id=? WHERE "Track".id < ?
2018-07-10 16:23:50,374 INFO sqlalchemy.engine.base.Engine (1, 3)
2018-07-10 16:23:50,376 INFO sqlalchemy.engine.base.Engine COMMIT
2018-07-10 16:23:50,380 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET album_id=? WHERE "Track".id > ?
2018-07-10 16:23:50,381 INFO sqlalchemy.engine.base.Engine (2, 2)
2018-07-10 16:23:50,383 INFO sqlalchemy.engine.base.Engine COMMIT

In [60]:
#left outer join , inner join 기준이 되는애가 track 이 되도록, 그러고나서 album 을 조인을 해줄것이다.

print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [61]:
result  = conn.execute(track.select().select_from(track.join(album)))

2018-07-10 16:23:55,676 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id
2018-07-10 16:23:55,677 INFO sqlalchemy.engine.base.Engine ()

In [62]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'StairWay to Heaven', 482, 5, 0, 1, 1)
(3, 'About to rock', 313, 5, 0, 2, 2)
(4, 'Who Made Who', 297, 5, 0, 2, 2)

In [33]:
print(track.join(album))

"Track" JOIN "Album" ON "Album".id = "Track".album_id

In [34]:
print(track.join(album).join(genre))

"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id

In [74]:
result = conn.execute(select([track.c.title,album.c.title,genre.c.name,artist.c.name]).select_from(track.join(album).join(genre).join(artist)))

2018-07-10 16:45:59,622 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2018-07-10 16:45:59,623 INFO sqlalchemy.engine.base.Engine ()

In [75]:
for row in result.fetchall():
    print(row)

('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('StairWay to Heaven', 'IV', 'Rock', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Metal', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')

In [89]:
result = conn.execute(track.select().select_from(track.join(album).join(genre).join(artist)).where(and_(genre.c.id==1,artist.c.id==1)))

2018-07-10 16:48:15,028 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2018-07-10 16:48:15,032 INFO sqlalchemy.engine.base.Engine (1, 1)

In [90]:
for row in result:
    print(row)

(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'StairWay to Heaven', 482, 5, 0, 1, 1)

In [67]:
tables = metadata.tables

In [68]:
for table in tables:
    print(table)

Artist
Album
Genre
Track

In [69]:
track = metadata.tables["Track"]

In [70]:
track

Table('Track', MetaData(bind=None), Column('id', Integer(), table=<Track>, primary_key=True, nullable=False), Column('title', String(), table=<Track>, nullable=False), Column('length', Integer(), table=<Track>, nullable=False), Column('rating', Integer(), table=<Track>, nullable=False), Column('count', Integer(), table=<Track>, nullable=False), Column('album_id', Integer(), ForeignKey('Album.id'), table=<Track>), Column('genre_id', Integer(), ForeignKey('Genre.id'), table=<Track>), schema=None)

In [ ]:
f