In [1]:
from sqlalchemy import create_engine

In [2]:


engine = create_engine("sqlite:///mydb3.db",echo=True) # ///세게인이유는 호스트니까. echo는 만들때 로그를 찍어줌, 엔진을 만들어준다 .

mydb3.db 라는 데이터베이스 파일에서 작업을 하였기에 불러오는 작업 , sqlAlchemy DB 구축 첫번째장에서 mydb3.db 사용하였음

In [3]:
from sqlalchemy.ext.automap import automap_base

In [4]:
Base = automap_base()
Base.prepare(engine,reflect=True) #불러오기

2018-07-12 11:37:40,560 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-12 11:37:40,563 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,565 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-12 11:37:40,566 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,567 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-12 11:37:40,568 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,570 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2018-07-12 11:37:40,571 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,573 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:37:40,574 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,576 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Album")
2018-07-12 11:37:40,577 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,579 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:37:40,580 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,585 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2018-07-12 11:37:40,586 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,588 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:37:40,588 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,590 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Artist")
2018-07-12 11:37:40,590 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,591 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:37:40,592 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,593 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 11:37:40,594 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,596 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Artist")
2018-07-12 11:37:40,597 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,598 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Artist' AND type = 'table'
2018-07-12 11:37:40,598 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,602 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 11:37:40,603 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,604 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Album")
2018-07-12 11:37:40,605 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,606 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Album' AND type = 'table'
2018-07-12 11:37:40,607 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,608 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2018-07-12 11:37:40,615 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,620 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:37:40,625 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,629 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Genre")
2018-07-12 11:37:40,630 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,631 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:37:40,631 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,633 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 11:37:40,634 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,635 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Genre")
2018-07-12 11:37:40,636 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,637 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Genre' AND type = 'table'
2018-07-12 11:37:40,638 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,639 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2018-07-12 11:37:40,640 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,642 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:37:40,643 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,645 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Track")
2018-07-12 11:37:40,645 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,647 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:37:40,647 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,649 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 11:37:40,649 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,651 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Track")
2018-07-12 11:37:40,651 INFO sqlalchemy.engine.base.Engine ()
2018-07-12 11:37:40,653 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Track' AND type = 'table'
2018-07-12 11:37:40,653 INFO sqlalchemy.engine.base.Engine ()

from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base() 이렇게 했었는데 
이번 예제에서는 automap_base 를 사용해서 자동으로 만들어준다

In [5]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

session  = Session()

In [6]:
artist = Base.classes.Artist

In [7]:
artist

sqlalchemy.ext.automap.Artist

In [8]:
result = session.query(artist)

In [9]:
for row in result:
    print(row.id,row.name)

2018-07-12 11:38:10,245 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-12 11:38:10,247 INFO sqlalchemy.engine.base.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
2018-07-12 11:38:10,248 INFO sqlalchemy.engine.base.Engine ()
1 Led Zepplin
2 AC/DC

위에서는 PK ,FK 관계를 알고있으니까, 해석을해서 우리를대신해서 써준다 ,

relationship은
DB를 안거치고 클래스만 가지고도 ,참조를 가능하게 해준다